<div id="tela-principal" class="row">
    <div class="col s12 m6 pffset-m3">
        <a routerLink="principal">
        <div id="botao-login"
             class="card-panel amber accent-4 center my-card-button">
             <span class="white-text flow-text"> LOGIN </span>
        </div>
        </a>
    </div>
    <div class="col s12 m6 pffset-m3">
        <a [routerLink]="['/principal/', 'parametroenviado']">
        <div id="botao-login-parametro"
             class="card-panel amber accent-4 center my-card-button">
             <span class="white-text flow-text"> LOGIN COM PARAMETRO</span>
        </div>
        </a>
    </div>
</div>
