<div>
  <h5>Jogos cadastrados</h5>
  <!-- Tabela de usuários -->
  <table class="highlight" *ngIf="jogos && jogos!.length > 0">
    <thead>
      <tr>
        <th>Nome do Jogo</th>
        <th>Fabricante</th>
        <th>Ano Lançamento</th>
        <th>Ano de Compra</th>
        <th>Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of jogos">
        <td>{{ u.nome | titlecase }}</td>
        <td>{{ u.fabricante | titlecase }}</td>
        <td>{{ u.anoLancamento | number }}</td>
        <td>{{ u.anoCompra | number }}</td>
        <td>{{ u.valor | currency: "BRL" }}</td>
        <td class="right"></td>
        <a
          ><i
            class="material-icons my-icon-size"
            (click)="onDelete(u.nome)"
            >delete</i
          ></a
        >
      </tr>
    </tbody>
  </table>

  <div *ngIf="!jogos || jogos!.length == 0">
    <div class="row">
      <div class="center-align">
        <i class="col s12 material-icons large">mood_bad</i>
        <span class="col s12 flow-text"
          >Ainda não existem jogos cadastrados!</span
        >
      </div>
    </div>
  </div>
</div>
