<div class="container contact">
  <h5>Doação</h5>
  <h6>As doações são importantes para manter nossa página funcionando!</h6>
  <hr />

  <app-saldo
    [value]="this.valor"
    (donationEvent)="this.onDonationEvent(this.valor)"
  >
  </app-saldo>

  <div class="row">
    <div class="container contact">
      <div class="row">
       <app-balance
         #balance
         (dblclick)="
           balance.getBackgroundColor() == 'amber'
             ? balance.onDblClickBalance('blue')
             : balance.onDblClickBalance('amber')
         "
       ></app-balance>
     </div>   
   </div>
  </div>

  <div class="row">    
    <div class="col s12">
      <div
        id="msg-saque"
        class="card-panel red white-text"
        style="display: none"
      ></div>
    </div>
  </div>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input
          name="valor-input"
          type="text"
          [(ngModel)]="this.valor"
          mask="separator.2"
          [thousandSeparator]="'.'"
          [decimalMarker]="','"
          prefix="R$"
          [dropSpecialCharacters]="true"
          [showMaskTyped]="false"
          (keydown.enter)="onEnterKey()"
        />
        <label class="active" for="valor-input">Valor de doação</label>
      </div>
    </div>
    <button
      class="btn waves-effect waves-light amber darken-4"
      type="button"
      (click)="this.onButtonClick(); this.onButtonClickAgain()"
    >
      Doar
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
